@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{
    --cor-primaria: #ffffff;
    --cor-secundaria: #000000;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Bebas Neue", sans-serif;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
}

header{
    background-color: var(--cor-secundaria);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    background-color: var(--cor-secundaria);
    margin: 8px;
    padding: 100px;
    background-color: white;
    color: black;
}

footer{
    background-color: var(--cor-secundaria);
    padding: 20px;
    border-top: 2px solid black;
    border-radius: 50px;
}

.logo{
    width: 150px;
}

.container-nav {
    background-color: var(--cor-secundaria);
    margin: 8px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-itens{
    color: var(--cor-primaria);
    text-decoration: none;
    margin-inline: 5%;
    min-inline-size: 1%;
    cursor: pointer;
    color: var(--cor-primaria);
    transition: transform 0.3s, color 0.3s;
}

.nav-itens:hover{
    transform: scale(1.4);
    animation: arcoIrist 2s linear infinite;
}

.text{
    font-size: 13vh;
    padding: 0px 0px 0px 10vh;
}

.banner{
    gap: 10vh;
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: rgb(243, 243, 243);
    border-radius: 50px;
}

.img-banner{
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

.container-buscar{
    background-color: white;
    border-radius: 50px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    width: 400px;
    max-width: 90%;
    min-width: 10%;
    margin: 15px;

}

.buscar{
    color: #000000;
    font-size: 20px;
}

.lupa{
    width: 20px;
    margin: 10px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    height: 100%;
    margin: 10px;
}
 .linha{
    display: flex;
    justify-content: center;
    
 }

.tenis1{
    border: 4px solid var(--cor-secundaria);
    border-radius: 50px;
    width: 25%;
    margin: 40px;
    padding: 20px;
    font-size: 80%;
    min-width: 100px;
    transition: transform 0.2s ease;
}

.tenis1:hover{
    transform: scale(1.2);
    cursor: pointer;
    background-color: black;
    color: white;   
    animation: arcoIris 5s linear infinite;
}

.img-tenis1{
    width: 100%;
    border-radius: 50px;
}

@keyframes arcoIris {
    0% { border-color: red; }
    16% { border-color: orange; }
    32% { border-color: yellow; }
    48% { border-color: green; }
    64% { border-color: blue; }
    80% { border-color: indigo; }
    100% { border-color: violet; }
}
@keyframes arcoIrist {
    0% { color: red; }
    16% { color: orange; }
    32% { color: yellow; }
    48% { color: green; }
    64% { color: blue; }
    80% { color: indigo; }
    100% { color: violet; }
}